@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

ion-col {
    border-color: #edf2f6;
    border-style: solid;
    border-width: 0 0 1px 0;
    line-height: 1.5;
    height: 15vh;
    text-align: center;
}

h1.month {
    font-size: 44px;
    font-weight: 800;
    margin-left: 20px;
    top: 17px;
    position: relative;
}

h2.month_e {
    font-weight: 800 !important;
    font-size: 32px;
    top: 17px;
    position: relative;
}

h1, h2, h3 {
    font-family: 'NanumSquare', sans-serif;
    display: inline
}

div.calendarHead {
    font-family: 'NanumSquare', sans-serif;
    font-weight: 700 !important;
    text-align: center !important;
    position: relative;
    top: -2em;
    /*margin-left: 9vw;*/
}

div.calendarHead h3.dday {
    margin-left: 1em;
}

h1.percent {
    position: absolute;
    font-style: italic;
    right: 20px;
    top: 17px;
    font-size: 40px;
    margin: 0;
    color: #96ACC2;
}

ion-col {
    font-family: 'nanumsquare';
}

ion-col.failure {
    /*background-color: #EABFBF*/
    background-color: rgba(216, 132, 132, 0.5);
}

ion-col.success {
    /*background-color: #96ACC2*/
    background-color: rgba(127, 127, 127, 0.5);
}

ion-col.days {
    padding: 0 0 4px 0;
    height: fit-content;
    font-family: 'nanumsquare';
    font-size: 14px;
}

span.today {
    font-size: 14px;
    font-weight: 800;
    font-family: 'nanumsquare';
}

span.dday {
    font-size: 20px;
    color: crimson;
    font-weight: 700;
}
ion-grid{
    height: 85vh;
}
ion-list {
    position: relative;
    border: 1px solid rebeccapurple;
    box-shadow: red;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-left: 1px !important;
}

/*@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }*/
